.general-info {
    display: flex;
    justify-content: space-between;

    &__article {
        text-align: left;
        margin-right: 40px;

        &-title {
            font-size: 45px;
            font-weight: 500;
            line-height: 45px;
            margin-bottom: 30px;
        }

        &-subtitle {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        &-text {
            /* Style for "Исповедуем" */
            color: #283136;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 30px;
            max-width: 550px;
        }

        &-list {
            list-style-image: url('images/strip.png');

            &-item {
                margin-left: 40px;
                color: #283136;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 30px;
            }
        }
    }
    &__statistic {
        &-image {
            margin-bottom: 30px;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            &-item {
                margin-right: 20px;

                &-title {
                    /* Style for "146%" */
                    font-size: 45px;
                    font-weight: 700;
                     margin-bottom: 30px;
                }
                &-text {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}